.container{
  /* background-color: red; */
  width: 70vw;
  height: 100vh;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
